*{
    box-sizing: border-box;
    margin: 0;
}

.navbar{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100vw;
    height: 3rem;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

.user-name-container {
    display: flex;
}

.user-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    height: 20rem;
    justify-content: center;
    position: absolute;
    top: 3rem;
    width: 100vw;
}

.user-section-container-2{
    display: flex;
}

.compose-twoot-container{
    position: absolute;
    top: 23rem;
    width: 85%;
    margin-top: 2rem;
    height: 8rem;
}

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTwoot{
    border: none;
    outline: none;
    border-bottom: 2px grey solid;
    width: 100%;
    margin: 1rem 0;
}

.compose-twoot-container-2{
    display: flex;
    justify-content: space-between;
}

.twoot-button{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 2px 15px;
}

.twoot-button:hover{
    cursor: pointer;
}

.timeline-container{
    position: absolute;
    top: 31rem;
    border: 2px gray solid;
    width: 85%;
    margin-top: 2rem;
    justify-content: space-between;
    padding: 1rem;

}

.timeline-container-2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.timeline-container-3{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon-container{
    display: flex;
}

#icon:hover{
    cursor: pointer;
}

.twoot-container{
    border-bottom: 2px gray solid;
    margin: 2rem 1rem;
}

.profile-picture-and-username{
    display: flex;
}
